

.pattern-list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;

    min-width: 7vw;

    text-align: left;
    white-space: nowrap;
    font-weight: bold;
}

.pattern-list__container {
    background-color: #8882;
    border: 2px solid #8884;
    border-radius: 2px;
    overflow-y: auto;

    min-height: 200px;

    --selected-color: #fffc;
}

table.pattern-editor {
    & td {
        padding: 2px 0.5rem;
    }

    & td:first-of-type {
        text-align: left;
        padding-left: 0.25rem;
        white-space: nowrap;
    }
}

.number-input-spinner {
    display: flex;
    flex-direction: row;
}

.number-input-spinner > button {
    border: none;
    border-radius: 0;
    padding: 0 0.5rem;
    background-color: silver;
}

.number-input-spinner > button:hover {
    background-color: #ccc;
}

.number-input-spinner > button:disabled {
    background-color: #ddd;
    color: #888;
}

.number-input-spinner > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    max-width: 5rem;
    outline: 0;
    padding-left: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.number-input-spinner > input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    width: 0;
    height: 0;
}

.rc-slider .rc-slider-track {
    background-color: grey;
}

.rc-slider .rc-slider-handle {
    border: 3px solid grey;
    background-color: grey;
    opacity: 1;
}

table.setup-table td {
    padding: 0 0.25rem;
}

tr.segment-row > td {
    text-align: left;
}

tr.segment-row > td:first-of-type {
    padding: 0.25rem;
}

tr.segment-row > td:last-of-type {
    padding-right: 0.25rem;
}

tr.segment-row:not(.details) > td {
    padding-top: 0.25rem;
}

.segment-row .number-input-spinner > input {
    width: 3.5rem;
}

.segment-row select {
    width: 100%;
}

.small-icon-button {
    border-color: #0003;
    padding: 1px 0 1px 1px;
}
